* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100vh;
  
  background-color: #333;
}

.bg {
  width: 100%;
  height: 150vh;

  position: relative;

  overflow: hidden;
}

#particles {
  background: linear-gradient(#000202, #002828);

  position: absolute;
  top: 0;
  left: 0;

  will-change: transform;
}